<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="box box-solid bg-light-blue-gradient">
              <div class="box-header">
                <div class="pull-right box-tools">
                  <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                    <i class="fa fa-minus"></i></button>
                </div>
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">
                  Map
                </h3>
              </div>

              <div class="box-body">
                <div id="map" style="height: 500px; width: 100%;"></div>
              </div>

              <div class="box-footer no-border">
                <div class="row">
                  <div class="col-lg-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <div id="ais-ships" class="info-box bg-green clickeable-div">
                      <span class="info-box-icon"><i class="ion ion-ios-navigate-outline"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Info</span>
                        <span class="info-box-number">14321</span>
                        <div class="progress">
                          <div class="progress-bar" style="width: 15%"></div>
                        </div>
                        <span class="progress-description">
                          15% of info
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <div id="sar-ships" class="info-box bg-blue clickeable-div">
                      <span class="info-box-icon"><i class="ion ion-ios-navigate-outline"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Another info</span>
                        <span class="info-box-number">15427</span>
                        <div class="progress">
                          <div class="progress-bar" style="width: 15%"></div>
                        </div>
                        <span class="progress-description">
                          15% of another info
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <div id="target-ships" class="info-box bg-red clickeable-div">
                      <span class="info-box-icon"><i class="ion ion-ios-navigate-outline"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Some another info</span>
                        <span class="info-box-number">70</span>
                        <div class="progress">
                          <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          70% of something
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>
        </div>
    </section>
    <!-- /.content -->
  </div>
